html {
  font-family: "proxima-nova",sans-serif;
  font-size:16px;
}

header {
  width: 100%;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.logo {
  max-width: 200px;
  width:100%;
  margin:0 auto;
  padding: 2em 0;
}
.signature {
  max-width: 250px;
  width: 100%;
}
.subFeatImg {
  margin: 5rem 0 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: lighter;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}


h3 {
  font-size: 1.75rem;
  text-transform: uppercase;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
  line-height: 1.4;
}

/**Flex Styles**/

.flex {
  display: flex;
  flex-flow: wrap;
}
.box {
  position: relative;
  flex-grow:1;
  flex-shrink:1;
  flex-basis: 475px;

}

.inner-box {
  padding: 0 2em;
  background: white;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top:0;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: all ease 2.5s;
}
.box img {
  opacity: 1;
  transition: all ease 2s;
}
.box:hover img {
  opacity: 0;
}

.box:hover .inner-box {
  opacity: 1;

}

@media screen and (max-width:1600px) and (min-width:961px) {
  .box {
    flex-basis: 400px;
  }
}

@media screen and (max-width:960px) and (min-width:768px) {
  .box {
    flex-basis: 250px;
  }
}
@media screen and (max-width:767px) and (min-width:480px) {
  .box {
    flex-basis: 250px;
  }
}

@media screen and (max-width:479px) {
  .box {
    flex-basis: 160px;
  }
}

/***Footer**/

footer {
  margin-top: 4rem;
}

.width-85 {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}
.width-75 {
  max-width: 900px;
  width: 75%;
  margin: 0 auto;
}

.accd {
  margin: 2rem 0;
  text-align: center;
}

.affiliates {
  margin: 2rem 0;
  text-align: center;
}
